@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.triangle {
  background-image: linear-gradient(to bottom right, black 50%, white 50%);
  height: 100vh;
}

.triangle2 {
  background-image: linear-gradient(to bottom right, white 50%, green 50% );
  height: 100vh;
}

col {
  position: relative;
  display: block;  
  float: left;
  margin-right: 1.563em;
  
  height: 100%;
  width: 6.25em;
  
  cursor: pointer;
  user-select: none;
  
  background: #EEE;
  color: #555;
  text-align: center;
  line-height: 2.5em;
}

col::before {
  content: '';
  position: absolute;
  display: block; 
 
  left: -1.5em;
  
  width: 0;
  height: 0;
  
  border-top: 2.5em solid transparent;
  border-right: 1.563em solid #EEE;
}
col::after {
  content: '';
  position: absolute;
  display: block;
  
  top: 0;  
  right: -1.5em;
  
  width: 0;
  height: 0;
  
  border-top: 2.5em solid #EEE;
  border-right: 1.563em solid transparent;
}

col::before {
  content: '';
  left: -1.5em;
  width: 0;
  height: 0;
  border-top: 2.5em solid transparent;
  border-right: 1.563em solid #EEE;
}