@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #ecf0f1;
  --action-color: #2980b9;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --fill-color: #bdc3c7;
  --error-background-color: #f2dede;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-top: -65px;
  padding: 0;
  height: 109px;
  width: 150px;
}

.navbarBrand {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  /* overflow: hidden; */
  height: 100vh;
}

.childElement {
  height: 100vh;
  scroll-snap-align: center;
}

.y-mandatory-scroll-snapping {
  margin: 0;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.light-effect {
  --mouse-x: -999px;
  --mouse-y: -999px;
}

.light-effect-color {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 224, 79, 1) 0%,
    rgba(0, 158, 61, 1) 50%,
    rgba(0, 158, 61, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}

.light-effect-background {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 224, 79, 1) 0%,
    rgba(0, 158, 61, 1) 50%,
    rgba(0, 158, 61, 1) 100%
  );
}

.light-effect-background-lg {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 224, 79, 1) 0%,
    rgba(0, 158, 61, 1) 70%,
    rgba(0, 158, 61, 1) 100%
  );
}
