#timeline-slider {
  background: url('https://clipart-library.com/image_gallery2/Football.png');
  background-size: contain;
  right: calc(100% - 180px);
}

#timeline-slider-indicator {
  border-left: 12px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#timeline-list-container::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: '';
  width: 100%;
  height: 45%;
  background-image: linear-gradient(to bottom, #fffbeb, transparent);
}

#timeline-list-container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 45%;
  background-image: linear-gradient(to top, #fffbeb, transparent);
}

#timeline-footer {
  background: url('https://purepng.com/public/uploads/large/purepng.com-grassgrasstype-of-plantgrasslandgrass-lawn-1411527053446ekjji.png');
  background-repeat: repeat;
}
