#timeline-slider {
  background: url('https://clipart-library.com/image_gallery2/Football.png');
  background-size: contain;
  right: calc(100% - 180px);
}

#timeline-slider-mobile {
  background: url('https://images-na.ssl-images-amazon.com/images/I/71PjAjKu64L._AC_SX679_.jpg');
  background-size: contain;
}

#timeline-slider-indicator {
  border-left: 12px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(-6px);
}

#timeline-list-container::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: '';
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to bottom, #fffbeb, transparent);
}

#timeline-list-container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, #fffbeb, transparent);
}

#timeline-footer {
  background: url('https://clipart-library.com/images_k/grass-clipart-transparent/grass-clipart-transparent-4.png');
  background-repeat: repeat;
}

.highlighted {
  color: #10b981;
  font-weight: bold;
}

.enable-scrolling {
  pointer-events: none;
}
